@import "tailwindcss";

@layer base{
  html {
    font-family: var(--font-inter);
  }
  :root {
    --background: 27 27 27;
    --foreground: 225, 225, 225;
    --muted: 115, 115, 115;
    --accent: 254, 254, 91;

    --font-inter: 'Inter', sans-serif;

    --shadow-glass-inset: inset 0 17px 5px -9px rgba(254, 254, 91, 0.05);
    --shadow-glass-xs: 5px 5px 20px 0px rgba(254, 254, 91, 0.3);

  }
}

@layer utilities {
  .bg-background {
    background-color: rgb(var(--background));
  }
  .bg-foreground {
    background-color: rgb(var(--foreground));
  }
  .bg-muted {
    background-color: rgb(var(--muted));
  }
  .bg-accent {
    background-color: rgb(var(--accent));
  }
  .text-foreground {
    color: rgb(var(--foreground));
  }
  .text-accent {
    color: rgb(var(--accent));
  }
  .shadow-glass-inset {
    box-shadow: var(--shadow-glass-inset);
  }
  .shadow-glass-xs {
    box-shadow: var(--shadow-glass-xs);
  }
  .animate-spin-slow {
    animation: spin 40s linear infinite;
  }
  .animate-spin-slow-reverse {
    animation: spin-reverse 40s linear infinite;
  }
  .bg-firefly-radial {
    background-color: rgba(254, 254, 91, 0.2);
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(253,255,80,0.5) 0%, rgba(217,217,217,0),0,100%);
  } 
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes move {
  0% {
    transform: translate(0,0);
  }
  100%{
    transform: translate(100px,100px);
  }
}